# Postgres
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5433

# RabbitMQ
RABBITMQ_USER=app_user
RABBITMQ_PASSWORD=app_password
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Redis
REDIS_PASSWORD=app_password
REDIS_PORT=6379